#joke-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #joke-display {
    font-size: 1.1rem;
    margin: 0 10%;
    height: 10%;
  }

  input {
    text-align: center;
    border-radius: 0.3rem;
    margin-top: 1rem;
    height: 2rem;
    width: 20%;
  }

  button {
    margin-top: 10%;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    height: 10%;
    width: 40%;
    border-radius: 0.3rem;
    cursor: pointer;
    outline: none;
    transition: hover 0.5s ease-in-out;

    &:hover {
      color: #fff;
      font-weight: bolder;
      letter-spacing: 0.3rem;
      background-color: darken(#efefef, 50%);
    }
  }
}
